{% extends 'base.html' %}

{% block title %}{{ company.name }} - Оформление сертификата{% endblock %}
{% block content %}
  {% load user_filters %}
  {% include 'includes/modals.html' %}
  {% include 'includes/content_page_header.html' with subtitle_h2='Подарочный сертификат' subtitle_span='Подари отдых' %}

  <div class="container content-page-order">
    <p>
      На сегодняшний день возможность оформления подарочного сертификата закрыта. Мы работаем и скоро вновь откроем возможность подарить отдых любимым и друзьям!<br>
      Вы можете узнать все условия и купить подарочный сертификат по телефону <a href="tel:{{ company.phone|clear_phone }}">{{ company.phone }}</a><br>
      Благодарим вас за понимание, будем рады видеть в нашем банном комплексе {{ company.name }}.
    </p>
  </div>
{% endblock %}

{% block user_scripts %}
{% endblock %}

