{% extends 'base.html' %}

{% block title %}
  {% if text_content.seo_title %}{{ text_content.seo_title }}{% else %}{{ company.name }} - {{ text_content.header }}{% endif %}
{% endblock %}
{% block seo_description %}"{{ text_content.seo_description }}"{% endblock %}
{% block seo_keywords %}"{{ text_content.seo_keywords }}"{% endblock %}
{% block content %}
  {% include 'includes/content_page_header.html' with subtitle_h2=price_content.header subtitle_span=price_content.second_header %}

  <div class="content price-content mb-5">
    <div class="row flex-row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card price-card">
          <img src="{{ price_content.header_image.url }}" class="card-img-top" alt="price">
          <div class="card-body">
            <h5 class="card-title text-truncate">Стоимость аренды парных
            </h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="check-guests" id="four-guests">
              <label class="form-check-label" for="four-guests">до 4 гостей (семейный тариф)</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="check-guests" id="five-guests" checked>
              <label class="form-check-label" for="five-guests">от 5 гостей (стандартный тариф)</label>
            </div>
            <table class="table" id="t-price">
              <thead>
                <tr>
                  <th scope="col" class="col-4">Парная</th>
                  <th scope="col" class="col-2">Этажи</th>
                  <th scope="col" class="col-3">Пн-Чт</th>
                  <th scope="col" class="col-3">Пт-Вс</th>
                </tr>
              </thead>
              <tbody>
                {% for house in price_content.house.all %}
                  <tr>
                    <td>{{ house.name }}</td>
                    <td>{{ house.floor }}</td>
                    {% for rate in house.rate_house.all %}
                      {% if rate.active %}
                        <td class="text-color-green td-price">{% if rate.price %}{{ rate.price|floatformat }} <i class="fa fa-ruble"></i>{% else %}Не указано{% endif %}</td>
                        <td class="text-color-green td-price">{% if rate.price_weekend %}{{ rate.price_weekend|floatformat }} <i class="fa fa-ruble"></i>{% else %}Не указано{% endif %}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if price_content.description_house %}<div class="card-text" id="description-houses">{{ price_content.description_house|safe }}</div>{% endif %}
            {% if price_content.description_spa_services %}<div class="card-text price-content-desc-spa" id="description-houses">{{ price_content.description_spa_services|safe }}</div>{% endif %}
            <h5 class="card-title">{{ price_content.header_service }}</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="col-7">Услуга</th>
{#                  <th scope="col" class="col-3">Ед. изм</th>#}
                  <th scope="col" class="col-5">Цена</th>
                </tr>
              </thead>
              <tbody>
                {% for service in price_content.service.all %}
                  <tr>
                    <td>{{ service.name }}</td>
{#                    <td>{{ service.get_measure_display }}</td>#}
                    <td class="text-color-green">{{ service.price|floatformat }} <i class="fa fa-ruble"></i></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if price_content.description_service %}<div class="card-text">{{ price_content.description_service|safe }}</div>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block user_scripts %}
  <script type="application/javascript">
      $('input[type=radio][name=check-guests]').change(function() {
          let tds = document.querySelectorAll('.td-price');
          let desc = document.querySelector('#description-houses');
          let i = 0;
          if (this.id === 'five-guests') {
              while(i < tds.length) {
                  let value = parseFloat(tds[i].innerHTML.split(' ')[0]) + 1000;
                  tds[i].innerHTML = '' + value + ' ' + '<i class="fa fa-ruble"></i>';
                  i++;
              }
              if (desc) {
                  desc.innerHTML = '{{ price_content.description_house|safe }}';
              }
          }
          else if (this.id === 'four-guests') {
              while(i < tds.length) {
                  let value = parseFloat(tds[i].innerHTML.split(' ')[0]) - 1000;
                  tds[i].innerHTML = '' + value + ' ' + '<i class="fa fa-ruble"></i>';
                  i++;
              }
              if (desc) {
                  desc.innerHTML = 'Минимальное время аренды бани 2 часа. Максимальная вместимость 4 взрослых гостя. Дополнительные гости, кроме детей до 12 лет не допускаются. В стоимость аренды входит 4 комплекта шапочек/тапочек/полотенец.';
              }
          }
      });
  </script>
{% endblock %}