{% extends 'base.html' %}

{% block title %}Отчетность МАКС-Жизнь{% endblock %}
{% block content %}
  <div class="row mt-5">
    <div class="col-3 card ms-5">
      <div class="card-header fw-bold bg-primary text-white">
        Журнал деловой активности по агентам
      </div>
      <div class="card-body">
        <p>Журнал деловой активности по агентам. Сводный отчет.</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a href="{% url 'reports:report-work-agents' %}?member_id={{ member_id }}" class="btn btn-primary">Перейти к отчету</a>
      </div>
    </div>
    <div class="col-3 card ms-5">
      <div class="card-header fw-bold bg-primary text-white">
        Журнал деловой активности по найму агентов
      </div>
      <div class="card-body">
        <p>Журнал деловой активности по найму агентов. Сводный отчет.</p>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a href="{% url 'reports:report-work-hire-agents' %}?member_id={{ member_id }}" class="btn btn-primary">Перейти к отчету</a>
      </div>
    </div>
  </div>
{% endblock %}