{% extends 'base.html' %}

{% block title %}Отчетность МАКС-Жизнь{% endblock %}
{% block content %}
  <div id="div-loader" style="width: 100%; height: 100%; opacity: 0.5; position: fixed; background: #bacbe6; z-index: 100; text-align: center; display: none">
    <div class="spinner-grow text-info mt-5" style="width: 10rem; height: 10rem; opacity: 1;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="text-info mt-5 fs-3">
      <b>Подождите, идет формирование отчета...</b>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row mt-3 justify-content-center">
      <div class="col-8 card">
        {% load user_filters %}
        {% if filter_form.errors %}
          {% for field in filter_form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ field.label }} {{ error|escape }}
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in filter_form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error|escape }}
            </div>
          {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'reports:report-work-hire-agents' %}" onsubmit="openLoader()">
          <div class="card-body">
            {% csrf_token %}
            <div class="row row-cols-3 mb-2">
              {% for field in filter_form %}
                <div class="form-group col">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {% if field|fieldtype == 'Select' %}
                    {{ field|addclass:'form-select' }}
                  {% elif field|widgettype == 'CheckboxInput' %}
                    <div class="form-check form-switch mt-1">
                      {{ field|addclass:'form-check-input' }}
                    </div>
                  {% else %}
                    {{ field|addclass:'form-control' }}
                  {% endif %}
                    {% if field.help_text %}
                      <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                </div>
              {% endfor %}
              <div class="col d-flex align-items-end justify-content-end">
                <input type="text" name='member_id' value="{{ member_id }}" hidden>
                <button type="submit" class="btn btn-success">Применить</button>
                <a href="{% url 'reports:index' %}?member_id={{ member_id }}" class="btn btn-primary ms-3">Вернуться к настройкам</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <table id="report-work-hire-agents" class="table table-striped">
        <thead>
          <tr>
            <th>Директор Агентства</th>
            <th>Начальник отдела</th>
            <th>Кол-во звонков</th>
            <th>Назначенных интервью</th>
            <th>Кол-во 1х интервью</th>
            <th>Кол-во Демо встреч</th>
            <th>Кол-во приступивших к обучению</th>
            <th>Кол-во новых агентских договоров</th>
            <th>Кол-во новых договоров ГПХ</th>
            <th>Кол-во встреч с ЦВ</th>
            <th>Кол-во имен от ЦВ</th>
            <th>Коэф звонки/назн.инт</th>
            <th>KPI назн.инт/первое инт.</th>
            <th>Первое инт/Демо</th>
            <th>Коэф ДЕМО/Новый агент</th>
            <th>Коэф рек/ЦВ.</th>
          </tr>
        </thead>
        <tbody>
          {% for key, item in data.items %}
            <tr>
            <td>{{ item.manager_two }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.calls|emptyvalue }}</td>
            <td>{{ item.tryst|emptyvalue }}</td>
            <td>{{ item.first_tryst|emptyvalue }}</td>
            <td>{{ item.demo_tryst|emptyvalue }}</td>
            <td>{{ item.education|emptyvalue }}</td>
            <td>{{ item.agents|emptyvalue }}</td>
            <td>{{ item.contracts_gph|emptyvalue }}</td>
            <td>{{ item.tryst_cv|emptyvalue }}</td>
            <td>{{ item.name_cv|emptyvalue }}</td>
            <td>{{ item.ratio_one|emptyvalue }}</td>
            <td>{{ item.ratio_two|emptyvalue }}</td>
            <td>{{ item.ratio_three|emptyvalue }}</td>
            <td>{{ item.ratio_four|emptyvalue }}</td>
            <td>{{ item.ratio_five|emptyvalue }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Итого:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>

{% endblock %}

{% block user_scripts %}
  <script>
    {% load static %}
    $(document).ready(function () {
        $('#report-work-hire-agents').DataTable({
        dom: '<"row"<"col-4"B><"col-8 d-flex justify-content-end"f>>rtip',
        scrollX: true,
        {#scrollY: '600px',#}
        ScrollCollapse: true,
        paging: false,
        language: {
            "url": "{% static 'js/datatables.ru.lang' %}",
        },
        fixedColumns: {
            left: 2,
        },
        fixedHeader: true,
        columnDefs: [
          { width: "150px", targets: [0,1] },
        ],
        buttons: {
          buttons: [
            {
              extend: 'excel',
              footer: true,
              text: 'Экспорт в excel',
              className: 'btn btn-primary',
              extension: '.xlsx',
              filename: 'Журнал-деловой-активности-по-агентам',
              exportOptions: {
                columns: ':visible',
                stripHtml: false,
                format: {
                  body: function(data) {
                    data = $('<p>' + data + '</p>').text();
                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                  },
                  footer: function(data) {
                    data = $('<p>' + data + '</p>').text();
                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                  }
                }
              }
            },
            {
              extend: 'copy',
              className: 'btn btn-primary',
            },
          ],
          dom: {button: {className: 'btn'}},
        },
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Remove the formatting to get integer data for summation
            let intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            let floatVal = function (i) {
                return typeof i === 'string' ? parseFloat(i.replace(",", ".")) : typeof i === 'number' ? i : 0;
            };

            let callsTotal = api
                .column(2, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let trystTotal = api
                .column(3, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let firstTrystTotal = api
                .column(4, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let demoTrystTotal = api
                .column(5, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let educationTotal = api
                .column(6, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let agentsTotal = api
                .column(7, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let contractsGphTotal = api
                .column(8, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let trystCvTotal = api
                .column(9, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return (intVal(a) + intVal(b)).toFixed(3);
                }, 0);

            let nameCvTotal = api
                .column(10, {page: 'current'})
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            let ratioOneTotal = (callsTotal / trystTotal).toFixed(3);
            ratioOneTotal = isFinite(ratioOneTotal) ? ratioOneTotal: 0;
            let ratioTwoTotal = (trystTotal / firstTrystTotal).toFixed(3);
            ratioTwoTotal = isFinite(ratioTwoTotal) ? ratioTwoTotal: 0;
            let ratioThreeTotal = (firstTrystTotal / demoTrystTotal).toFixed(3);
            ratioThreeTotal = isFinite(ratioThreeTotal) ? ratioThreeTotal: 0;
            let ratioFourTotal = (demoTrystTotal / agentsTotal).toFixed(3);
            ratioFourTotal = isFinite(ratioFourTotal) ? ratioFourTotal: 0;
            let ratioFiveTotal = (nameCvTotal / trystCvTotal).toFixed(3);
            ratioFiveTotal = isFinite(ratioFiveTotal) ? ratioFiveTotal: 0;

            // Update footer
            $(api.column(2).footer()).html(callsTotal);
            $(api.column(3).footer()).html(trystTotal);
            $(api.column(4).footer()).html(firstTrystTotal);
            $(api.column(5).footer()).html(demoTrystTotal);
            $(api.column(6).footer()).html(educationTotal);
            $(api.column(7).footer()).html(agentsTotal);
            $(api.column(8).footer()).html(contractsGphTotal);
            $(api.column(9).footer()).html(trystCvTotal);
            $(api.column(10).footer()).html(nameCvTotal);
            $(api.column(11).footer()).html(ratioOneTotal);
            $(api.column(12).footer()).html(ratioTwoTotal);
            $(api.column(13).footer()).html(ratioThreeTotal);
            $(api.column(14).footer()).html(ratioFourTotal);
            $(api.column(15).footer()).html(ratioFiveTotal);
        },
      });
    });

    function openLoader() {
      document.getElementById("div-loader").style.display = "block";
    }
  </script>
{% endblock %}