<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include 'includes/meta_tags.html'%}
    <title>{% block title %}{{ company.name }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ company.favicon.url }}">
    <meta name="description" content={% block seo_description %}''{% endblock %}>
    <meta name="keywords" content={% block seo_keywords %}''{% endblock %}>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/scripts.html' %}
    {% block user_scripts %}
    {% endblock %}
  </body>
</html>