{% extends "base.html" %}
{% block title %}{{ company.name }}{% endblock %}
{% block content %}
  {% include 'includes/content_page_header.html' with subtitle_h2='Регистрация' %}
  <div class="content__inner-page">
    <div class="container">
      <h2>Ваша учетная запись успешно зарегистрирована. Используйте указанный вами пароль для входа:</h2>
      <p class="mt-3"><a href="{% url 'accounts:login' %}">Авторизоваться</a></p>
      <p class="mt-3"><a href="{% url 'mainpage:index' %}">На главную</a></p>
    </div>
  </div>
{% endblock %} 