<div class="header">
  <div class="window">
    <div class="menu-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-2">
            <div class="header__logo">
              <a href="#"></a>
            </div>
          </div>
          <div class="col-xs-8">
            <ul class="header__desktop-menu">
              <li class="header__desktop-menu-item">
                <a href="#">
                  <?= $lk_title ?>
                </a>
              </li>
              <li class="header__desktop-menu-item"><a href="#">Услуги</a></li>
              <li class="header__desktop-menu-item"><a href="#">Контакты</a></li>
              <div class="header__socials-inner-menu header__socials-inner-menu-top">
                <a href="https://www.instagram.com/bani_kedrovyi_bereg/" target="_blank" class="header__socials-inner-menu-item header__socials-inner-menu-insta"></a>
                <a href="#" class="header__socials-inner-menu-item header__socials-inner-menu-youtube"></a>
              </div>
            </ul>
            <div class="header__phone-block header__phone-block-middle">
              <span class="header__phone-call">
                                <a href="tel:>2000907">200-09-07</a>
                            </span>
              <a href="#" class="header__phone-order">Заказать</a>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="burger-container">
              <div id="burger">
                <div class="bar topBar"></div>
                <div class="bar btmBar"></div>
              </div>
            </div>
            <div class="header__phone-block header__phone-block-right">
              <span class="header__phone-call">
                                <a href="tel:>2000907">200-09-07</a>
                            </span>
              <a href="#" class="header__phone-order">Заказать</a>
            </div>
          </div>
        </div>
      </div>

      <ul class="menu">
        <li class="menu-item">
          <a href="#">
            <?= $lk_title ?>
          </a>
        </li>
        <li class="menu-item"><a href="#">Услуги</a></li>
        <li class="menu-item"><a href="#">Контакты</a></li>
        <li class="menu-item">
          <div class="header__socials-inner-menu">
            <a href="https://www.instagram.com/bani_kedrovyi_bereg/" target="_blank" class="header__socials-inner-menu-item header__socials-inner-menu-insta"></a>
            <a href="#" class="header__socials-inner-menu-item header__socials-inner-menu-youtube"></a>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>

    </div>
  </div>
</div>