<a href="{% url 'mainpage:index' %}" class="logo">
  <img src="{{ company.logo_header.url }}" alt="logo">
</a>

<div class="header__phone-block">
  <span class="header__phone-call">
      {% load user_filters %}
      <a href="tel:{{ company.phone|clear_phone }}">{{ company.phone }}</a>
  </span>
</div>

  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  <label for="menu-icon"></label>
  <nav class="nav header__main">
    <ul class="pt-5">
      <li><a href="{% url 'personal:index' %}">Ваш личный кабинет</a></li>
      <li><a href="{% url 'price' %}">Услуги</a></li>
      <li><a href="{% url 'mainpage:index' %}#contacts">Контакты</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:logout' %}">Выйти</a></li>
      {% endif %}
    </ul>
  </nav>
